.login-bar{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}
.error-message{ 
    color:red;
}
.modal-dialog {
    width: 500px !important;    
    max-width: 90vw;
} 
.personal-Item {
    border-style: solid; 
    border-width: thin;
    border-radius : 5px;
    padding: 10px;
    box-shadow: 2px 4px #888888;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    
}
.refrigerator-item{
    margin: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    box-shadow: 2px 4px #888888;
}
.form-control-sm::-webkit-input-placeholder{
    font-size:1.5vw;
}
.personal-Item:hover{
    box-shadow: 5px 10px #888888;
}
.refrigerator-item:hover{
    box-shadow: 5px 10px #888888;
}
.right{
    margin-left:10px;
}
.left{
    overflow: hidden;
}
.either-end{
    display: flex;
    justify-content:space-between ;
}
.side-bar{
    width:30%;
    display: block;
    padding:2vw;
    height:100% !important;
}
.home-button{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    cursor:pointer;
    color:black;
    border: 1px solid black;
    box-shadow: 2px 4px #888888;
}
.home-button>a:hover{
   
    text-decoration: none;
}
.home-button:hover{
    box-shadow: 5px 10px #888888;
}
.side-bar > a {
    align-self:center;
}
.personal-Items{
    
    font-size: 1.5vw ;
    border-style: none;
}
.refrigerator-items{
    float:right;
    width:60%;
    font-size: 1.5vw;
}
.fluid-font{
    font-size: 2vw;
}
.border-radius{
    display:none;
}
#outPopUp {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 15;
    top: 35%;
    left: 40%;
    margin: -100px 0 0 -150px;
  }
.react-confirm-alert-overlay{
    pointer-events: none
}
.react-confirm-alert{
    pointer-events: all;
}
 
.add-buttons {
    font-size:1.2vw !important;
    margin-bottom:10px !important;
}